NEXT_PUBLIC_CHAIN_ID=91342
NEXT_PUBLIC_CHAIN_NAME=GIWA Sepolia
NEXT_PUBLIC_RPC_URL=https://sepolia-rpc.giwa.io
NEXT_PUBLIC_EXPLORER_URL=https://sepolia-explorer.giwa.io
NEXT_PUBLIC_FACTORY_ADDRESS=0x0de82c7E891eaD1d83fBFe4eC6547E9d9aefF2A8
NEXT_PUBLIC_AMMS_ADDRESS=0xc3839C57D6b00b5cB64eC373F93DC79ED147eBE2
NEXT_PUBLIC_TOKEN_ADDRESS=0xb3478C0181cC542e051df8e080AF07dcE697B9C8
